<!DOCTYPE html>
<html>
<head>
	<title>TianZuUI</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../css/bootstrap.css" media="all">
	<style type="text/css">
		body{padding:15px 0;}
	</style>
</head>
<body>
    <div class="container-fluid"> 
    	<div class="row">
    		<div class="col-md-6">
    			<div class="panel panel-default">
					<div class="panel-heading">
					    <h3 class="panel-title">水平导航菜单</h3>
					</div>
					<div class="panel-body">
						
						<!-- 静止在顶部 -->
					
						<div class="bs-example bs-navbar-top-example">
						    <nav class="navbar navbar-default navbar-static-top">
						      <div class="container-fluid">
						        <div class="navbar-header">
						          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8" aria-expanded="false">
						            <span class="sr-only">Toggle navigation</span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
						          </button>
						          <a class="navbar-brand" href="#">Brand</a>
						        </div>

						        <!-- Collect the nav links, forms, and other content for toggling -->
						        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
						          <ul class="nav navbar-nav">
						            <li class="active"><a href="#">Home</a></li>
						            <li><a href="#">Link</a></li>
						            <li><a href="#">Link</a></li>
						          </ul>
						        </div><!-- /.navbar-collapse -->
						      </div>
						    </nav>
						</div>
						 <!-- navbar-inverse在顶部 -->
						<div class="bs-example" >
						    <nav class="navbar navbar-inverse">
						      <div class="container-fluid">
						        <!-- Brand and toggle get grouped for better mobile display -->
						        <div class="navbar-header">
						          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
						            <span class="sr-only">Toggle navigation</span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
						          </button>
						          <a class="navbar-brand" href="#">Brand</a>
						        </div>

						        <!-- Collect the nav links, forms, and other content for toggling -->
						        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
						          <ul class="nav navbar-nav">
						            <li class="active"><a href="#">Home</a></li>
						            <li><a href="#">Link</a></li>
						            <li><a href="#">Link</a></li>
						          </ul>
						        </div><!-- /.navbar-collapse -->
						      </div><!-- /.container-fluid -->
						    </nav>
						</div>
						 <!-- 默认样式的导航条 -->
						
						<nav class="navbar navbar-default">
						     <!-- Brand and toggle get grouped for better mobile display -->
						    <div class="navbar-header">
						      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						      </button>
						      <a class="navbar-brand" href="#">Brand</a>
						    </div>

						    <!-- Collect the nav links, forms, and other content for toggling -->
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						      <ul class="nav navbar-nav">
						        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
						        <li><a href="#">Link</a></li>
						        <li class="dropdown">
						          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						          <ul class="dropdown-menu">
						            <li><a href="#">Action</a></li>
						            <li><a href="#">Another action</a></li>
						            <li><a href="#">Something else here</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#">Separated link</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#">One more separated link</a></li>
						          </ul>
						        </li>
						      </ul>
						     
						      <ul class="nav navbar-nav navbar-right">
						        <li><a href="#">Link</a></li>
						        <li class="dropdown">
						          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
						          <ul class="dropdown-menu">
						            <li><a href="#">Action</a></li>
						            <li><a href="#">Another action</a></li>
						            <li><a href="#">Something else here</a></li>
						            <li role="separator" class="divider"></li>
						            <li><a href="#">Separated link</a></li>
						          </ul>
						        </li>
						      </ul>
						    </div><!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>

    		</div>
  			<div class="col-md-6">
  				<div class="panel panel-default">
					<div class="panel-heading">
					    <h3 class="panel-title">路径导航</h3>
					</div>
					<div class="panel-body">
					    <div class="bs-example">
						    <ol class="breadcrumb">
						      <li class="active">Home</li>
						    </ol>
						    <ol class="breadcrumb">
						      <li><a href="#">Home</a></li>
						      <li class="active">Library</li>
						    </ol>
						    <ol class="breadcrumb">
						      <li><a href="#">Home</a></li>
						      <li><a href="#">Library</a></li>
						      <li class="active">Data</li>
						    </ol>
						</div>
					</div>
				</div>
  			</div>
    	</div>
    </div>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.js"></script>
</html>